<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>TravelCom</title>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet"/>
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="#!">TravelCom</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Eventos</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Nosotros</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Ir a Reservas</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://aventurateaviajar.com/library/mod_noticias/images/viajes-por-el-mundo.jpg" alt="..." /></div>
                <div class="col-lg-5">
  
                    <h1 class="font-weight-light">TravelCom</h1>
                    <p>Bienvendido a la pagina oficial de una de las mejores agencias de eventos internacionales realizados al rededor de todo el mundo</p>
                    <a class="btn btn-primary" href="#!">Reserva ahora!</a>
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">Contamos con más de 15 años de permanecer como uno de los lideres de agencias de eventos en todo el mundo, llevando alegría y momentos inolvidables a nuestros clientes</p></div>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Ubicaciones</h2>
                            <p class="card-text">Contamos con más de 100 lugares de destinos de eventos para que seas parte de nuestra familias, que esperas para crear recuerdos que marcaran para toda tu vida! </p>
                        </div>
                 
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Contactanos</h2>
                            <p class="card-text">Costa Rica (+506-5869-5478)</p>
                            <p class="card-text">USA (+1-1277-123-3242)</p>  
                            <p class="card-text">Mexico (+55-5643-7867)</p>  
                            <p class="card-text">Brasil (+55-1123-3242)</p> 
                        </div>
                       
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Redes Sociales</h2>
                            <p class="card-text">Puedes econtranos en nuestas redes sociales como:</p>
                            <p class="card-text">Instagram: @TravelCom</p>
                            <p class="card-text">Facebook: @TravelCom</p>
                            <p class="card-text">X: @TravelComArroundWorld</p>
                        </div>
  
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; TravelCom 2024</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <!-- Core theme JS-->
        <script src="js/jsFarmacia.js"></script>
    </body>
</html>
